.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  padding: 20px 50px;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: rgb(202, 255, 255);
  transition: color 250ms linear, border-color 250ms linear;

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
  border-color: #747bff;
}
